image: python:{{python_version}}

test:
  stage: test
  before_script:
    - pip install -U pip wheel setuptools
    - pip install -r requirements-test.txt
  script:
{%- if test_framework == "unittest" %}
    - coverage run -m unittest discover test
    - coverage report
    - coverage xml -i
{%- elif test_framework == "pytest" %}
    - pytest --cov --cov-report term --cov-report xml:coverage.xml
{%- endif %}
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

style:
  stage: test
  before_script:
    - pip install -U pip wheel setuptools pre-commit
    - pre-commit install
  script:
    - pre-commit run --all-files

deploy package:
  stage: deploy
  before_script:
    - pip install -U pip wheel setuptools build twine
  script:
    - python -m build
    - python -m twine upload dist/*
  rules:
    - if: $CI_COMMIT_TAG =~ /v\d+\.\d+\.\d+.*/
