# {{package_name}}

{{package_short_description}}

## TODO: how to go on after creating the package

- [Setup your development environment](#setup-development-environment-for-contributors-only)
- In `pyproject.toml`, fill the field `dependencies` with all packages you need.
  Don't forget to `pip install -r requirements-dev.txt` afterwards, to install those packages in your python virtual environment.
- To control where the Python package is pushed, set these values in GitLab CI/CD:
  * `TWINE_USERNAME` - the username to use for authentication to the repository (typically `${ARTIFACTORY_USER}`).
  * `TWINE_PASSWORD` - the password to use for authentication to the repository (typically `${ARTIFACTORY_PASSWORD}`).
  * `TWINE_REPOSITORY_URL` - the repository URL to use (typically `https://repo.eon-cds.de/artifactory/api/pypi/mlops-pypi`).
- [OPTIONAL] Fill the commented out fields in `pyproject.toml` to add extra metadata.

## Setup development environment (for contributors only)

Run the setup script in the `dev_env_setup` folder appropriate for your operating system to set up your development environment (e.g. `sh dev_env_setup/setup_linux_mac.sh`).

If you prefer to do this manually, then
- Create and activate a virtual python environment with the python version specified in `.python-version'.
- Use pip to install and update `pip`, `wheel`, `setuptools` and `pre-commit`.
- Use pip to install the requirements in `requirements-dev.txt
- Install the git pre-commit hook
